h1{
    color: whitesmoke;
    text-align:center;
    background-color: black
}
h2{
    color: darkcyan;
    text-align : center;
    background-color: ivory;
}
h2#olar{
    color: ghostwhite;
    text-align: center;
    background-color: darkcyan;
}
h1#rink{
    color: black;
    text-align: center;
    background-color: whitesmoke;
}
body{
background-image:url("../images/original.jpg");
background-attachmet:fixed;
}