h1#id1{
    text-align:center;
    background-color: beige
}

.2{
    color: white;
    text-align: center;
    background-color: black;   
}

h2{
    color: darkcyan;
    text-align: center;
    background-color: black;
}

body{
background-image:url("../images/original.jpg");
background-attachmet:fixed;
}